.song{
    display: flex;
    justify-content: flex-end;
    z-index: auto;
    margin-bottom: 10px;
}
.song:hover{
    cursor: pointer;
}
.image{
    height:202px; 
    width: 360px;
    border-radius:12px
}
.subTitle{
    color: rgba(28, 25, 25, 0.77);
    font-size: 13px;
}
#iconC{
    height: 24px;
    width: 24px;
    border-radius: 50px;
    margin-left: 10px;
}
.ic-CN-container{
    display: flex;
    margin-top: 15px;
    justify-content: right;
}
#CNName{
    padding-top: 3px;
}
.melel{
    margin-right: 15px;
    text-align: end;
}